/* .card-wrapper:nth-of-type(1n) {
  margin: 5rem 0;
  background-color: var(--color-blue);
}

.card-wrapper:nth-of-type(2n) {
  margin: 5rem 0;
  background-color: var(--color-blue-dark);
}

.card-wrapper:nth-of-type(3n) {
  margin: 5rem 0;
  background-color: var(--color-red);
} */

/* Swiper Styles*/

.swiper-pagination {
  top: 10px;
}

.swiper-pagination-bullet {
  padding: 1rem;
  margin: 0.5rem !important;
}

@media only screen and (max-width: 450px) {
  .swiper-pagination-bullet {
    padding: 0.75rem;
    margin: 0.5rem !important;
  }
}

.swiper-wrapper {
  margin-top: 6rem;
}

.swiper-pagination-bullet-active {
  background: var(--color-blue-light) !important;
}

.swiper-slide {
  display: flex !important;
  justify-items: center !important;
}
