@font-face {
  font-family: "Farro";
  src: url("../../fonts/Farro-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
